
04-producing-consuming-kafka-with-java/src/java-kafka/.classpath
04-producing-consuming-kafka-with-java/src/java-kafka/.project
04-producing-consuming-kafka-with-java/src/java-kafka/.settings/org.eclipse.jdt.core.prefs
04-producing-consuming-kafka-with-java/src/java-kafka/.settings/org.eclipse.m2e.core.prefs
.metadata/**
**/.idea/**
**/*.iml
**/.DS_Store
org.springframework.ide.eclipse.boot.dash:Cloud Foundry.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springframework.ide.eclipse.imports.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.springsource.ide.eclipse.commons.ui.prefs
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.12.0.20190628-1134.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
/.metadata/
**/.settings/**
**/target/**
04-producing-consuming-kafka-with-java/src/java-kafka/.idea/compiler.xml
01-environment/.DS_Store
01-environment/.DS_Store
