
04-producing-consuming-kafka-with-java/src/java-kafka/.classpath
04-producing-consuming-kafka-with-java/src/java-kafka/.project
04-producing-consuming-kafka-with-java/src/java-kafka/.settings/org.eclipse.jdt.core.prefs
04-producing-consuming-kafka-with-java/src/java-kafka/.settings/org.eclipse.m2e.core.prefs
